.module {
  display: flex;
}

.submodule {
  background-color: #e0e6f2;
  width: 15em;
  height: calc(100vh - 8.5em);
}

.submodule-option {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5em 0;
}

.submodule-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4em;
}

.menu-heading {
  color: black;
}

.active.submodule-menu {
  background-color: #cad3e0;
  color: white;
  margin: 0;
}
