.submodule-topic {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  margin: 3em;
}

.submodule-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.submodule-head {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.heading {
  font-size: 2em;
  font-weight: 600;
  margin: 0.5em 0;
}

.submodule-head > .date,
.topic-card > .date {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0.5em 0;
}

.submodule-head-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submodule-head-right > .param {
  margin: 0;
  padding: 0 1em;
}

.submodule-head-right > .param > .param-head {
  display: flex;
  justify-content: end;
}

.submodule-subheading {
  font-weight: 600;
  font-size: 1.4em;
  margin: 0.5em 0;
}

.submodule-feedback {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: 600;
  color: #0197ff;
}

.topic-card-heading {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.card-header {
  display: flex;
  text-transform: uppercase;
  padding: 0 2em;
  margin: 0 2em;
  justify-content: space-between;
}

.card {
  margin: 1em 0;
}

.card-right,
.card-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-right {
  border-right: 1px solid #cad3e0;
}

.param,
.moment {
  padding: 0.5em 3em;
}

.param-head {
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0;
}

.param-sub {
  font-size: 1em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.moment-head {
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0;
  margin: 0 0.7em;
}

.day,
.time {
  font-family: "Roboto", sans-serif;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 200;
}

.card-icon {
  height: 1.5em;
  padding: 0 1em;
}

.module > .heading {
  margin: 1em 1em;
}

.topic-card {
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  border: 2px solid #cceeff;
  border-radius: 0.3em;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  background-color: #fffefe;
  transition: all 500ms ease;
}

.topic-card:hover {
  box-shadow: none;
}

.topic-card-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 2em;
  margin: 0 2em;
  justify-content: space-around;
  font-weight: 700;
  height: 2em;
  width: 17em;
}

.topic-selected {
  position: relative;
  height: 1rem;
  background-color: #fffefe;
  height: 2em;
  width: 17em;
}

.sub-topic {
  font-size: 1em;
  font-weight: 500;
  padding: 2em 0;
}

.submodule-subtopics {
  font-style: 0.8em;
  padding: 0.2em 0;
  margin-left: 1em;
  font-family: "Roboto", sans-serif;
}

.submodule-icon {
  background: none;
}
