* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: grid;
}

.container {
  height: calc(100vh - 8.5em);
  display: flex;
}

.island {
  display: flex;
  overflow-y: scroll;
  flex: 1;
  background-color: #f3f6fe;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 0.7em;
  z-index: 2;
  background-color: #0048ff;
  border: 2px solid #0048ff;
  border-radius: 10em;
}

.contact:hover {
  cursor: pointer;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.errorhandle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

a {
  text-decoration: none;
  color: #fff;
}
